<?xml version="1.0" encoding="UTF-8" ?>
<!-- Apache Commons Configuration -->
<configuration>
    <!--  
        see d1_common_java/org/dataone/configuration/Settings.java
        for implementation details.
        properties from system and an optional properties file are
        available for interpolation, and will also override value
        set here.
    -->

	<!-- include properties files like so in other projects -->
	<!--  
	<properties fileName="something.properties"/>
	<properties fileName="somethingElse.properties"/>
	-->
</configuration>